STRINGTABLE
BEGIN
    
    // versioninfo
    
    0x1000  "#include <windows.h>"
    0x1001  " "
    0x1002  "1 VERSIONINFO"
    0x1003  "FILEVERSION        %fileversion%"
    0x1004  "PRODUCTVERSION     %productversion%"
    0x1005  "FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK"
    0x1006  "FILEFLAGS          0%versioninfoffdebug%%versioninfoffprerelease%%versioninfoffprivate%%versioninfoffspecial%"
    0x1007  "FILETYPE           %versioninfofiletype%"
    0x1008  "{"
    0x1009  "    BLOCK ""StringFileInfo"""
    0x100A  "    {"
    0x100B  "        BLOCK ""%versioninfolangid%%versioninfocphexa%"""
    0x100C  "        {"

    0x1020  "        }"
    0x1021  "    }"
    0x1022  "    BLOCK ""VarFileInfo"""
    0x1023  "    {"
    0x1024  "        VALUE ""Translation"", 0x%versioninfolangid%, %versioninfocp%"
    0x1025  "    }"
    0x1026  "}"
    0x1027  " "
    
    // manifest

    0x2000  "<?xml version=""1.0"" encoding=""%manifestcharset%"" standalone=""yes""?>"
    0x2001  "<assembly"
    0x2002  "\txmlns=""urn:schemas-microsoft-com:asm.v1"""
    0x2003  "\tmanifestVersion=""1.0"">"
    0x2004  "<assemblyIdentity"
    0x2005  "\tname=""%assemblyIdentityName%"""
    0x2006  "\tprocessorArchitecture=""%architecture%"""
    0x2007  "\tversion=""%assemblyVersion%"""
    0x2008  "\ttype=""win32"" />"
    0x2009  "<description>%assemblyDescription%</description>"
    
    0x2200  "<trustInfo xmlns=""urn:schemas-microsoft-com:asm.v2"">"
    0x2201  "\t<security>"
    0x2202  "\t\t<requestedPrivileges>"
    0x2203  "\t\t<requestedExecutionLevel level=""%requestedExecutionLevel%"" uiAccess=""false"" />"
    0x2204  "\t\t</requestedPrivileges>"
    0x2205  "\t</security>"
    0x2206  "</trustInfo>"

    0x2300  "<application xmlns=""urn:schemas-microsoft-com:asm.v3"">"
    0x2301  "\t<windowsSettings>"
    
    0x2320  "\t\t<heapType xmlns=""http://schemas.microsoft.com/SMI/2020/WindowsSettings"">%heapType%</heapType>"
    0x2322  "\t\t<longPathAware xmlns=""http://schemas.microsoft.com/SMI/2016/WindowsSettings"">%longPathAware%</longPathAware>"
    0x2324  "\t\t<activeCodePage xmlns=""http://schemas.microsoft.com/SMI/2019/WindowsSettings"">%activeCodePage%</activeCodePage>"
    0x2326  "\t\t<printerDriverIsolation xmlns=""http://schemas.microsoft.com/SMI/2011/WindowsSettings"">%printerDriverIsolation%</printerDriverIsolation>"
    0x2328  "\t\t<disableWindowFiltering xmlns=""http://schemas.microsoft.com/SMI/2011/WindowsSettings"">%disableWindowFiltering%</disableWindowFiltering>"

    0x2350  "\t\t<dpiAware xmlns=""http://schemas.microsoft.com/SMI/2005/WindowsSettings"">%dpiAware%</dpiAware>"
    0x2352  "\t\t<dpiAwareness xmlns=""http://schemas.microsoft.com/SMI/2016/WindowsSettings"">%dpiAwareness%</dpiAwareness>"
    0x2354  "\t\t<gdiScaling xmlns=""http://schemas.microsoft.com/SMI/2017/WindowsSettings"">%gdiScaling%</gdiScaling>"

    0x2370  "\t\t<highResolutionScrollingAware xmlns=""http://schemas.microsoft.com/SMI/2013/WindowsSettings"">%highResolutionScrollingAware%</highResolutionScrollingAware>"
    0x2372  "\t\t<ultraHighResolutionScrollingAware xmlns=""http://schemas.microsoft.com/SMI/2013/WindowsSettings"">%ultraHighResolutionScrollingAware%</ultraHighResolutionScrollingAware>"

    0x23F0   "\t</windowsSettings>"
    0x23F1   "</application>"

    0x2400  "<compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1"">"
    0x2401  "\t<application>"
    
    0x2410  "\t\t<supportedOS Id=""{%manifestos%}"" /> <!-- %manifestoscomment% -->"
    0x2412  "\t\t<supportedOS Id=""{%manifestos%}"" />"
    0x2414  "\t\t<maxversiontested Id=""%maxversiontested%"" />"
    
    0x24F0  "\t</application>"
    0x24F1  "</compatibility>"
    
    0x2700  "<dependency>"
    0x2701  "\t<dependentAssembly>"
    
    0x2710  "\t\t<assemblyIdentity"
    0x2711  "\t\t\ttype=""win32"""
    0x2712  "\t\t\tname=""%manifestdependency%"""
    0x2713  "\t\t\tversion=""%manifestdependencyversion%"""
    0x2714  "\t\t\tprocessorArchitecture=""%architecture%"""
    0x2715  "\t\t\tpublicKeyToken=""%manifestdependencytoken%"""
    0x2716  "\t\t\tlanguage=""*"" />"
    
    0x27F0  "\t</dependentAssembly>"
    0x27F1  "</dependency>"
    
    0x2FF0  "</assembly>"
END

