STRINGTABLE
BEGIN
    
    // versioninfo
    
    0x100   "#include <windows.h>"
    0x101   " "
    0x102   "1 VERSIONINFO"
    0x103   "FILEVERSION        %fileversion%"
    0x104   "PRODUCTVERSION     %productversion%"
    0x105   "FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK"
    0x106   "FILEFLAGS          0%versioninfoffdebug%%versioninfoffprerelease%%versioninfoffprivate%%versioninfoffspecial%"
    0x107   "FILETYPE           %versioninfofiletype%"
    0x108   "{"
    0x109   "    BLOCK ""StringFileInfo"""
    0x10A   "    {"
    0x10B   "        BLOCK ""%versioninfolangid%%versioninfocphexa%"""
    0x10C   "        {"

    0x120   "        }"
    0x121   "    }"
    0x122   "    BLOCK ""VarFileInfo"""
    0x123   "    {"
    0x124   "        VALUE ""Translation"", 0x%versioninfolangid%, %versioninfocp%"
    0x125   "    }"
    0x126   "}"
    0x127   " "
    
    // manifest

    0x200   "<?xml version=""1.0"" encoding=""UTF-16"" standalone=""yes""?>"
    0x201   "<assembly"
    0x202   "	xmlns=""urn:schemas-microsoft-com:asm.v1"""
    0x203   "	manifestVersion=""1.0"">"
    0x204   "<assemblyIdentity"
    0x205   "	name=""%assemblyIdentityName%"""
    0x206   "	processorArchitecture=""%architecture%"""
    0x207   "	version=""%assemblyVersion%"""
    0x208   "	type=""win32"" />"
    0x209   "<description>%assemblyDescription%</description>"
    
    0x220   "<trustInfo xmlns=""urn:schemas-microsoft-com:asm.v2"">"
    0x221   "	<security>"
    0x222   "		<requestedPrivileges>"
    0x223   "		<requestedExecutionLevel level=""%requestedExecutionLevel%"" uiAccess=""false"" />"
    0x224   "		</requestedPrivileges>"
    0x225   "	</security>"
    0x226   "</trustInfo>"

    0x230   "<application xmlns=""urn:schemas-microsoft-com:asm.v3"">"
    0x231   "	<windowsSettings>"
    
    0x233   "		<dpiAware xmlns=""http://schemas.microsoft.com/SMI/2005/WindowsSettings"">%dpiAware%</dpiAware>"
    
    0x235   "		<longPathAware xmlns=""http://schemas.microsoft.com/SMI/2016/WindowsSettings"">%longPathAware%</longPathAware>"

    0x237   "		<dpiAwareness xmlns=""http://schemas.microsoft.com/SMI/2016/WindowsSettings"">%dpiAwareness%</dpiAwareness>"
    
    0x23A   "	</windowsSettings>"
    0x23B   "</application>"

    0x240   "<compatibility xmlns=""urn:schemas-microsoft-com:compatibility.v1"">"
    0x241   "	<application>"
    
    0x250   "		<supportedOS Id=""{%manifestos%}"" /> <!-- %manifestoscomment% -->"
    
    0x260   "	</application>"
    0x261   "</compatibility>"
    
    0x270   "<dependency>"
    0x271   "	<dependentAssembly>"
    
    0x280   "		<assemblyIdentity"
    0x281   "			type=""win32"""
    0x282   "			name=""%manifestdependency%"""
    0x283   "			version=""%manifestdependencyversion%"""
    0x284   "			processorArchitecture=""%architecture%"""
    0x285   "			publicKeyToken=""%manifestdependencytoken%"""
    0x286   "			language=""*"" />"
    
    0x290   "	</dependentAssembly>"
    0x291   "</dependency>"
    
    0x2F0   "</assembly>"
END

