#include <windows.h>
 
1 VERSIONINFO
FILEVERSION        2,0,0,281
PRODUCTVERSION     2,0,0,281
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
FILEFLAGS          0    
FILETYPE           VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE L"FileVersion", L"2.0.0.281"
            VALUE L"FileDescription", L"Standard Win32 API Meta Information Generator"
            VALUE L"InternalName", L"rsrcgen"
            VALUE L"LegalCopyright", L"\x00a9 2022 TRIM CORE SOFTWARE s.r.o."
            VALUE L"OriginalFilename", L"rsrcgen.exe"
            VALUE L"ProductName", L"Rsrc Generator"
            VALUE L"ProductVersion", L"2.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}
 
1 24 L"D:\\Projekty\\rsrcgen\\\\rsrcgen.manifest"
