#include <windows.h>
 
1 VERSIONINFO
FILEVERSION        1,3,0,200
PRODUCTVERSION     1,3,0,200
FILEFLAGSMASK      VS_FFI_FILEFLAGSMASK
FILEFLAGS          0    
FILETYPE           VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904B0"
        {
            VALUE L"FileVersion", L"1.3"
            VALUE L"FileDescription", L"Standard Win32 API Meta Information Generator"
            VALUE L"InternalName", L"RsrcGen"
            VALUE L"OriginalFilename", L"RsrcGen.exe"
            VALUE L"ProductName", L"Rsrc Generator"
            VALUE L"ProductVersion", L"1.3"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}
 
1 24 "D:\\Projekty\\rsrcgen\\RsrcGen.manifest"
